.containerBox {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImg {
  padding-top: 45px;
  width: 40%;
  height: auto;
  padding-bottom: 35px;
}

.avatar {
  margin: 8px;
}

.formBox {
  margin-top: 5px;
}

.errorMessageGrid {
  padding-top: 6px;
}

.circularProgress {
  margin-top: 10px;
  margin-left: 35px;
}

.formControlTypography {
  padding-top: 20px;
}

.submitButtonGrid {
  padding-top: 8px;
  padding-bottom: 10px;
}

.copyrightBox {
  padding-top: 30px;
  padding-bottom: 20px;
}
